<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Settings For Connect To CrmServer-->
    <add key="ServerAddress" value ="devcrmqa.pruksa.com"/>
    <add key="SSL" value ="Y"/>
    <add key="OrganizationName" value ="CRMQA"/>
    <add key="User" value ="Preuksa\admin.crm"/>
    <add key="Password" value ="Pruks@2016"/>
    <add key="CredentialsFilePath" value ="CrmServer"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>